<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Fish{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.1.js"></script>



    
  </head>

  <body>
  
    <div class="row-md-1">
	
		<div class="col-md-2">
			<div id="name"> <h4><b>Ask Semyon</b></h4> </div>
		</div>
		
		<div class="col-md-5">
			<input type="text" class="form-control" placeholder="Enter your request">
		</div>
		
		<div class="col-md-1">
			<button type="button" class="btn btn-success"> <b>Go!</b> </button>
		</div>
		
		<div class="col-md-1">
		</div>	

		{% block avatar %}	 
		{% endblock %}
		
	</div>
	
	{% block mainPart %}
	{% endblock %}
	
	<div class="col-md-3">
		<div class="tags">
			<b><h4>
			Popular tags<br>
			</b>
			<a href="{% url 'tag' 'Lorem' %}">Lorem</a>
			<a href="{% url 'tag' 'Python' %}">Python</a>
			<a href="{% url 'tag' 'TechnoPark' %}">TechnoPark</a>
			<a href="{% url 'tag' 'MySQL' %}">MySQL</a>
			<a href="{% url 'tag' 'Mail' %}">Mail.ru</a>
			<a href="{% url 'tag' 'Firefox' %}">Firefox</a>
			<a href="{% url 'tag' 'House' %}">House</a>
			</h4>
		</div>
        <div class="members">
			<b><h4>
			Best members<br></b>
			<a href="">Jeremy Clarkson</a><br>
			<a href="">Richard Hammond</a><br>
			<a href="">James May</a><br>
			</h4>
		</div>
	</div>

	{% block lowerPart %}
	{% endblock %}

    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
  
  </html>
