{% extends 'withPgination.html' %}
{% block title %}ask_rogachev.io{% endblock %}

{% block mainPart %}
<div class="col-md-9">
	{% block header %}
	<div class="row-md-2">
		<div class="col-md-4">
			<h2><b>New Questions</b></h2>
		</div>
		
		<div class="col-md-8">
			<a href="{% url 'hot' %}"> <h2>Hot Questions</h2> </a>
		</div>
	</div>
	{% endblock %}
	{% if objects %}
		{% csrf_token %}
		{% for question in objects %}
			<div class="row">
				<div class="col-md-2">
					<div class="Question">
						<img src="{{question.author.avatar.url}}" alt="avatar" class ="img-circle img-responsive">
						<div class="QuestionButtons">
							{% if user.is_authenticated %}
							
							User.profile:{{ user.profile }}
							<br>
							{{ question.questionlike_set.profile }}
							<button type = "button" class = "btn btn-default js-like-question" data-type = "0", data-id = "{{ question.id }}"> <span class = "glyphicon glyphicon-arrow-down"> </span> </button>

							<button type = "button" class = "btn btn-default disabled likes"> {{ question.likes }} </button>
							
							<button type = "button" class = "btn btn-default js-like-question" data-type = "1", data-id = "{{ question.id }}" > <span class = "glyphicon glyphicon-arrow-up"> </span> </button>
							{% endif %}
						</div>
						<!--<script type="text/javascript" src = "/static/js/like.js"></script> -->
					</div>
				</div>
				<div class="col-md-10">
					<a href="{% url 'question' question.id %}"><h4>{{question.title}}</h4></a>
					<p class="text-justify">{{question.text}}
					<div class="Question-Tags">
						<a class="number" href="{% url 'question' question.id %}"> Answers
							({{question.answer_set.all|length}})</a> 
						Tags:
							{% for tagObject in question.tag_set.all %}
								<a href="{% url 'tag' tagObject.text %}"> {{tagObject.text}} </a>
							{% endfor %}
					</div>
				</p>
				</div>
			</div>
		{% endfor %}
	{% endif %}
		</div>
</div>

{% endblock %}