{% extends 'withPgination.html' %}

{% block title %}Question{% endblock %}

{% block mainPart %}	
{% csrf_token %}
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-2">
				<div class="Question">
					<img src="{{question.author.avatar.url}}
					" alt="avatar" class ="img-circle img-responsive">
					<div class="QuestionButtons">
							{% if user.is_authenticated %}
								<button type = "button" class = "btn btn-default js-like-question" data-type = "0" data-id = "{{ question.id }}"> 
									<span class = "glyphicon glyphicon-arrow-down"> </span> 
								</button>
							{% else %}
								<button type = "button" class = "btn btn-default disabled"><span class = "glyphicon glyphicon-arrow-up"> </span></button>
							{% endif %}

							<button type = "button" class = "btn btn-default disabled" id = "question-{{ question.id }}-likes"> {{ question.likes }} </button>
							
							{% if user.is_authenticated %}
								<button type = "button" class = "btn btn-default js-like-question" data-type = "1" data-id = "{{ question.id }}"> <span class = "glyphicon glyphicon-arrow-up"> </span> 
								</button>
							{% else %}
								<button type = "button" class = "btn btn-default disabled"><span class = "glyphicon glyphicon-arrow-up"> </span></button>
							{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<h2> {{question.title}}</h2>
				<p class="text-justify">{{question.text}}
				<div class="Question-Tags">
				Tags:
					{% for tagObject in question.tag_set.all %}
						<a href="{% url 'tag' tagObject.text %}"> {{tagObject.text}} </a>
					{% endfor %}
				</div>
				</p>
			</div>
		</div>
		<HR SIZE=5 WIDTH=1000 ALIGN=LEFT>
		{% for answer in objects %}
		<div class="row">
			<div class="col-md-2">
				<div class="Question">
					<img src="{{answer.author.avatar.url}}" alt="avatar" class ="img-circle img-responsive">
					<div class="QuestionButtons">
						{% if user.is_authenticated %}
							<button type = "button" class = "btn btn-default js-like-answer" data-type = "0"data-id = "{{ answer.id }}"> 
								<span class = "glyphicon glyphicon-arrow-down"> </span> 
							</button>
						{% else %}
							<button type = "button" class = "btn btn-default disabled likes"><span class = "glyphicon glyphicon-arrow-up"> </span></button>
						{% endif %}
					
						<button type = "button" class = "btn btn-default disabled" id = "answer-{{ answer.id }}-likes"> {{ answer.likes }} 
						</button>
						
						{% if user.is_authenticated %}
							<button type = "button" class = "btn btn-default js-like-answer" data-type = "1" data-id = "{{ answer.id }}"> 
								<span class = "glyphicon glyphicon-arrow-up"> </span> 
							</button>
						{% else %}
							<button type = "button" class = "btn btn-default disabled likes"><span class = "glyphicon glyphicon-arrow-up"> </span></button>
						{% endif %} 
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<h4>{{answer.id}}</h4>
				<p class="text-justify">{{answer.text}}
				{% if user.id == question.author.user.id %}
					{% if answer.correct %}
						<div class="checkbox tags">
							<label>
								<input type="checkbox" class = "correct" data-id = "{{ answer.id }}" checked> Correct! </input>
							</label>
						</div>
					{% else %}
						<div class="checkbox tags">
							<label>
								<input type="checkbox" class = "correct" data-id = "{{ answer.id }}" > Correct! </input>
							</label>
						</div>
					{% endif %}

				{% else %}
					{% if answer.correct %}
						<div class="checkbox tags">
							<label>
								<input type="checkbox" disabled checked> Correct! </input>
							</label>
						</div>
					{% endif %}
				{% endif %}
				</p>
			</div>
		</div>
		{% endfor %}
		
		<HR SIZE=5 WIDTH=1000 ALIGN=LEFT>
		
		{% if user.is_authenticated %}
		<form class = "form-horizontal" action = "{% url 'question' question.id %}", method = "POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				{{ form.text.errors }}
				{{ form.text }}
				<br>
				<button type = "submit" class = "btn btn-default button-text"> Answer </button>
		</form>
		{% endif %}
	</div>
{% endblock %}
