{% extends 'withPgination.html' %}

{% block title %}{{tagName}}{% endblock %}

{% block mainPart %}
	
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-4">
				<h2><b>Tag: {{tagName}}</b></h2>
			</div>
		</div>
		{% for question in objects %}
		<div class="row">
			<div class="col-md-2">
				<div class="Question">
					<img src="{{question.author.avatar.url}}" alt="avatar" class ="img-circle img-responsive">
					<div class="QuestionButtons">
						<button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-down"></span></button>
						<button type="button" class="btn btn-default disabled"> {{question.like}} </button>
						<button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-up"> </span></button>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<a href="{% url 'question' question.id %}"><h4>{{tagName}}</h4></a>
				<p class="text-justify">{{question.text}}
				<div class="Question-Tags">
					<a class="number" href="{% url 'question' question.id %}"> 
					Answers ({{question.answer_set.all|length}})</a>
					Tags:
					{% for tagObject in question.tag_set.all %}
						<a href="{% url 'tag' tagObject.text %}"> {{tagObject.text}} </a>
					{% endfor %}
				</div>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
		
{% endblock %}